@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/weather/style.css" />

<div>
    <h1 class="display-5">Previsão do Tempo</h1>
    <div id="weather-list"></div>
</div>

@section Scripts {
    <script src="~/js/weather/main.js" defer></script>
}